@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We in Transpose believe that the client's safety and complacency has to be placed on first place to ensure that our
    products are the best on the market.</p>
