
@{
    ViewBag.Title = "Home";
}

<<<<<<< HEAD
<h1>Announcement board</h1>
@model IEnumerable<Project.ViewModels.Article.ArticleListViewModel>
=======
<h1>Available cars</h1>
@model List<Project.Models.Article>
>>>>>>> 44299e9e6eb14430a38eddb4eb1c753b7397f23f

@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col-sm-6">
                <article>
                    <header>
                        <h2>
                            @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.Id }, null)
                        </h2>
                    </header>
                    <p>
                        @article.Content
                        @foreach (var item in article.Base64Images)
                        {
                            <img src="data:image/png;base64,@item.Base64Image" width="100px" height="100px" />
                        }
                    </p>
                    <footer class="pull-right">
                        <small class="author">
                            --author @article.Author.FullName
                        </small>
                    </footer>
                </article>
            </div>
        }
    </div>
</div>
<hr />

